*               text=auto


*.html          text eol=lf
*.css           text eol=lf
*.js            text eol=lf
*.mjs           text eol=lf
*.cjs           text eol=lf
*.json          text eol=lf

*.md            text eol=lf
*.markdown      text eol=lf
*.txt           text eol=lf

*.yml           text eol=lf
*.yaml          text eol=lf
*.conf          text eol=lf linguist-detectable=true

*.sh            text eol=lf

Dockerfile                  text eol=lf linguist-language=Dockerfile
Dockerfile.development      text eol=lf linguist-language=Dockerfile
Dockerfile.staging          text eol=lf linguist-language=Dockerfile

*.png           binary
*.jpg           binary
*.jpeg          binary
*.webp          binary